* {
  margin: 00px;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 100%;
  height: 100vh;
  background-size: cover;
  align-items: center;
}

.wrapper {
  width: 100%;
}

header {
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 3;
  background: black;
  border-bottom: rgba(119, 136, 153, 0.8) solid 2px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0%;
  padding: 10px 4% 10px 4%;
}

header .logo {
  display: block;
  align-items: flex-start;
  width: 15%;
  height: auto;
  margin-left: 10px;
  margin-right: 45%;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px;
}

.case_study {
  background-color: rgba(223, 171, 223, 0.6);
  border-bottom: azure solid 2px;
  transform: scale(1.08);
  font-weight: bolder;
  color: white;
}

.nav_links li a {
  display: inline-block;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
  color: ivory;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_links li a:hover {
  color: white;
  background-color: rgba(223, 171, 223, 0.6);
  font-weight: bolder;
  transform: scale(1.08);
  text-decoration: underline;
}

/*hover first banner*/

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  min-width: 80vw;
  margin: 0 auto 0 auto;
  box-shadow: 0 2px 20px grey;
  margin-top: 10%;
}

.container .box {
  position: sticky;
  display: block;
  border: ivory solid 3px;
  border-radius: 20px;
  margin: 0px 50px 25px 50px;
  width: 230px;
  height: 230px;
  overflow: hidden;
  transition: 0.5s;
}

.container .pgheading {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline solid black;
  padding-top: 20px;
  padding-bottom: 10px;
}

.container .pgpara {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 25px;
  margin: 10px 10% 20px 10%;
}

.container .box:hover {
  z-index: 1;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.container .box .images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .images::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #fff, #000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .images::before {
  opacity: 0.8;
}
.container .box .images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 85px 20px 40px 20px;
  text-align: center;
}

.container .box .content h2 {
  color: #fff;
  font-family: sans-serif;
  font-size: 22px;
  text-decoration: underline solid;
  transition: 0.4s;
  text-transform: uppercase;
  margin-bottom: 3px;
  transform: translateY(240px);
}

.container .box:hover .content h2 {
  transform: translateY(0);
  transition-delay: 0.2s;
}
.container .box .content p {
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 50px;
  transition: 0.3s;
  transform: translateY(250px);
}
.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.5s;
}

.appdesign {
  margin: 25px 45px 25px 45px;
  background-color: white;
  box-shadow: 0 2px 10px grey;
}

.appdesign .csheading {
  display: block;
  text-align: center;
  margin: 50px auto 30px auto;
  font-family: sans-serif;
  font-size: 50px;
  text-decoration: underline solid;
}

.appdesign .heading {
  display: block;
  text-align: center;
  width: 75%;
  font-family: sans-serif;
  font-size: 35px;
  text-decoration: underline solid;
  margin: 50px auto 30px auto;
}

.appdesign .mockupimg {
  display: block;
  margin: 15px auto 20px auto;
  width: 80%;
}

.appdesign .webheaderimg {
  width: 100%;
  height: 350px;
}

.appdesign .webheaderimg3 {
  width: 100%;
  height: 350px;
}

.appdesign .webheaderimg4 {
  width: 100%;
  height: 200px;
}

.appdesign .casestudy {
  display: block;
  align-items: center;
  background-color: rgb(105, 105, 248);
  margin: 15px auto 25px auto;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}
.appdesign .casestudy:hover {
  transform: scale(1.05);
  background-color: rgb(61, 61, 199);
  text-decoration: underline solid 2px white;
  box-shadow: 0 5px 10px;
}

.appdesign .conheading {
  display: block;
  width: 80%;
  margin: 20px auto 10px 90px;
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.appdesign .con {
  margin: 0px auto 10px 90px;
  width: 80%;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.appdesign .animvideo {
  display: block;
  margin: 15px auto 10px auto;
  align-items: center;
  width: 50%;
  height: auto;
}

.appdesign .user_des li {
  margin: 0px auto 10px 90px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 25px;
  width: 80%;
}

.appdesign .user_des li b {
  text-decoration: underline solid;
}
